n8n/crm-sheets-read.json
{
  "name": "CRM API - Leer Sheets",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "crm-sheets-read",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "11111111-1111-4111-8111-111111111111",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "crm-sheets-read"
    },
    {
      "parameters": {
        "jsCode": "const allowed = ['prospects','outreach','pipeline','messages','config','inbox','campaigns','optout','search_log','web_leads','tareas','contactos','notas'];\nconst q = ($input.first().json.query) || {};\nconst sheet = String(q.sheet || '').trim();\nif (!allowed.includes(sheet)) {\n  throw new Error('Invalid sheet param: ' + sheet);\n}\nreturn [{ json: { sheet } }];"
      },
      "id": "22222222-2222-4222-8222-222222222222",
      "name": "Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/1N8bL-ujDDg9hF9gqV0mQrD94AZeh_QItJ-Aft2Xd7NE/values/{{ encodeURIComponent($json.sheet) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "id": "33333333-3333-4333-8333-333333333333",
      "name": "Sheets Values",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        440,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "86m52fKwvUB07q9D",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const v = $json.values || [];\nif (v.length === 0) return [{ json: { rows: [] } }];\nconst headers = v[0];\nconst rows = v.slice(1).map(r => {\n  const o = {};\n  headers.forEach((h, i) => { o[h] = r[i] != null ? r[i] : ''; });\n  return o;\n});\nreturn [{ json: { rows } }];"
      },
      "id": "44444444-4444-4444-8444-444444444444",
      "name": "To Objects",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "55555555-5555-4555-8555-555555555555",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        880,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate": {
      "main": [
        [
          {
            "node": "Sheets Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets Values": {
      "main": [
        [
          {
            "node": "To Objects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To Objects": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}