n8n/CRM_API_Web_Lead.json
{
  "name": "CRM API - Web Lead",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "crm-web-lead",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://jddeveloper.com,https://www.jddeveloper.com"
        }
      },
      "id": "wl-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "crm-web-lead"
    },
    {
      "parameters": {
        "jsCode": "// Valida el payload del formulario web, filtra bots (honeypot) y arma la fila\n// para la hoja web_leads. Acciones: create (default) | update (gestion desde CRM).\nconst req = $input.first().json;\nconst b = req.body || {};\nconst headers = req.headers || {};\nif (b.website) return [{ json: { skip: true } }];\nconst norm = (v) => String(v ?? '').trim();\nconst email = norm(b.email).toLowerCase();\nconst nombre = norm(b.nombre);\nconst esUpdate = b.action === 'update' && norm(b.id);\nif (!esUpdate && (!email || !email.includes('@') || !nombre)) return [{ json: { skip: true } }];\nfunction hash(s){let x=5381;for(let i=0;i<s.length;i++){x=((x<<5)+x+s.charCodeAt(i))|0;}return (x>>>0).toString(36);}\nconst now = new Date();\nconst dia = now.toISOString().slice(0,10);\nconst id = norm(b.id) || 'WL-' + hash(email + '|' + norm(b.detalle||b.mensaje) + '|' + dia);\nconst row = { id };\nif (esUpdate) {\n  if (b.estado) row.estado = norm(b.estado);\n  if (b.responsable !== undefined) row.responsable = norm(b.responsable);\n  if (b.notas_internas !== undefined) row.notas_internas = norm(b.notas_internas);\n  if (b.prioridad !== undefined) row.prioridad = norm(b.prioridad);\n  if (b.etiquetas !== undefined) row.etiquetas = norm(b.etiquetas);\n  row.actualizado = now.toISOString();\n} else {\n  Object.assign(row, {\n    fecha_hora: now.toISOString(), nombre, email,\n    empresa: norm(b.empresa), telefono: norm(b.telefono),\n    asunto: norm(b.tema||b.asunto), mensaje: norm(b.detalle||b.mensaje),\n    pagina: norm(b.pagina), url: norm(b.url), referrer: norm(b.referrer),\n    utm_source: norm(b.utm_source), utm_medium: norm(b.utm_medium), utm_campaign: norm(b.utm_campaign),\n    ip: norm(headers['cf-connecting-ip']||headers['x-forwarded-for']),\n    user_agent: norm(headers['user-agent']).slice(0,200),\n    fuente: 'web', formulario: norm(b.formulario)||'contacto',\n    estado: 'nuevo', responsable: '', notas_internas: '',\n    prioridad: 'media', etiquetas: '',\n    actualizado: now.toISOString(),\n  });\n}\nreturn [{ json: row }];"
      },
      "id": "wl-code",
      "name": "Validar y Preparar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wl-if",
      "name": "Es valido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1N8bL-ujDDg9hF9gqV0mQrD94AZeh_QItJ-Aft2Xd7NE"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "web_leads"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "matchingColumns": [
            "id"
          ],
          "schema": []
        },
        "options": {}
      },
      "id": "wl-sheets",
      "name": "Guardar Solicitud",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        660,
        -100
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REEMPLAZAR_AL_IMPORTAR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true, \"id\": $('Validar y Preparar').item.json.id } }}",
        "options": {}
      },
      "id": "wl-respond-ok",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1320,
        -100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true } }}",
        "options": {}
      },
      "id": "wl-respond-skip",
      "name": "Responder Skip",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        660,
        140
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $('Validar y Preparar').item.json.fecha_hora }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wl-isnew",
      "name": "Es nuevo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        -100
      ]
    },
    {
      "parameters": {
        "fromEmail": "sales@jddeveloper.com",
        "toEmail": "info@jddeveloper.com",
        "subject": "=🆕 Nuevo lead web: {{ $('Validar y Preparar').item.json.nombre }}{{ $('Validar y Preparar').item.json.empresa ? ' — ' + $('Validar y Preparar').item.json.empresa : '' }}",
        "emailFormat": "html",
        "html": "=<div style=\"font-family:Arial,sans-serif;max-width:560px\"><h2 style=\"color:#ff5c33\">Nuevo lead desde la web</h2><table style=\"border-collapse:collapse;font-size:14px\"><tr><td style=\"padding:4px 12px 4px 0;color:#666\">Nombre</td><td><b>{{ $('Validar y Preparar').item.json.nombre }}</b></td></tr><tr><td style=\"padding:4px 12px 4px 0;color:#666\">Empresa</td><td>{{ $('Validar y Preparar').item.json.empresa || '—' }}</td></tr><tr><td style=\"padding:4px 12px 4px 0;color:#666\">Email</td><td><a href=\"mailto:{{ $('Validar y Preparar').item.json.email }}\">{{ $('Validar y Preparar').item.json.email }}</a></td></tr><tr><td style=\"padding:4px 12px 4px 0;color:#666\">Teléfono</td><td>{{ $('Validar y Preparar').item.json.telefono || '—' }}</td></tr><tr><td style=\"padding:4px 12px 4px 0;color:#666\">Asunto</td><td>{{ $('Validar y Preparar').item.json.asunto || '—' }}</td></tr></table><p style=\"margin-top:16px;padding:12px;background:#f6f6f6;border-radius:8px\">{{ $('Validar y Preparar').item.json.mensaje }}</p><p style=\"font-size:12px;color:#999\">Página: {{ $('Validar y Preparar').item.json.pagina }} · Gestiónalo en el CRM → Inbox de Leads</p></div>",
        "options": {}
      },
      "id": "wl-notify",
      "name": "Notificar Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        1100,
        -200
      ],
      "credentials": {
        "smtp": {
          "id": "qxrjS1UTOOOVymj8",
          "name": "Email SMTP - JDDeveloper"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validar y Preparar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar y Preparar": {
      "main": [
        [
          {
            "node": "Es valido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es valido?": {
      "main": [
        [
          {
            "node": "Guardar Solicitud",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Solicitud": {
      "main": [
        [
          {
            "node": "Es nuevo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es nuevo?": {
      "main": [
        [
          {
            "node": "Notificar Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar Email": {
      "main": [
        [
          {
            "node": "Responder OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}