n8n/CRM_API_Escribir_Sheets.json
{
  "name": "CRM API - Escribir Sheets",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "crm-sheets-write",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1111111-1111-4111-8111-111111111111",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "crm-sheets-write"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst action = body.action;\nconst allowed = ['pipeline_update','lead_create','lead_update','outreach_update','campaign_create','campaign_update','campaign_delete','campaign_restore','lead_delete','lead_restore','pipeline_delete','pipeline_restore','config_update','lead_purge','pipeline_purge','pipeline_extra','analizar_lead'];\nif (!allowed.includes(action)) throw new Error('Invalid action: ' + action);\nif (!body.leadId && action !== 'lead_create' && !action.startsWith('campaign_') && action !== 'config_update') throw new Error('leadId required');\nreturn [{ json: { action, data: body } }];"
      },
      "id": "a2222222-2222-4222-8222-222222222222",
      "name": "Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "pipeline_update",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pipeline_update"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "lead_create",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "lead_create"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "lead_update",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "lead_update"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "outreach_update",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "outreach_update"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "campaign_create",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "campaign_create"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "campaign_update",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "campaign_update"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "campaign_delete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "campaign_delete"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "config_update",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "config_update"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "lead_delete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "lead_delete"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "lead_restore",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "lead_restore"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "pipeline_delete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pipeline_delete"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "pipeline_restore",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pipeline_restore"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "campaign_restore",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "campaign_restore"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "lead_purge",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "lead_purge"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "pipeline_purge",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pipeline_purge"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "pipeline_extra",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pipeline_extra"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "analizar_lead",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "analizar_lead"
            }
          ]
        },
        "options": {}
      },
      "id": "a3333333-3333-4333-8333-333333333333",
      "name": "Route",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $json.data;\nconst body = {\n  range: 'pipeline!A:K',\n  majorDimension: 'ROWS',\n  values: [[\n    d.leadId,\n    d.empresa || '',\n    d.estado || '',\n    d.prioridad || '',\n    d.canalPrincipal || '',\n    d.fechaPrimerContacto || '',\n    new Date().toISOString(),\n    d.proximoSeguimiento || '',\n    d.valorEstimado != null ? d.valorEstimado : '',\n    d.responsable || '',\n    d.notas || ''\n  ]]\n};\nreturn [{ json: { leadId: d.leadId, body } }];"
      },
      "id": "a4444444-4444-4444-8444-444444444444",
      "name": "Build Pipeline Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        -220
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1N8bL-ujDDg9hF9gqV0mQrD94AZeh_QItJ-Aft2Xd7NE/values/pipeline!A:A",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "id": "a5555555-5555-4555-8555-555555555555",
      "name": "Find Pipeline Row",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        880,
        -220
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "86m52fKwvUB07q9D",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ids = $json.values.map(r => r[0]);\nconst leadId = $('Build Pipeline Row').item.json.leadId;\nconst idx = ids.indexOf(leadId);\nconst body = $('Build Pipeline Row').item.json.body;\nif (idx !== -1) {\n  body.range = `pipeline!A${idx + 1}:K${idx + 1}`;\n}\nreturn [{ json: { rowIndex: idx, body, leadId } }];"
      },
      "id": "a6666666-6666-4666-8666-666666666666",
      "name": "Locate Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        -220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.rowIndex }}",
              "rightValue": -1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a7777777-7777-4777-8777-777777777777",
      "name": "Row Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1320,
        -220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1N8bL-ujDDg9hF9gqV0mQrD94AZeh_QItJ-Aft2Xd7NE/values/pipeline!A:K:append?valueInputOption=USER_ENTERED",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "id": "a8888888-8888-4888-8888-888888888888",
      "name": "Append Pipeline Row",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1540,
        -320
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "86m52fKwvUB07q9D",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/1N8bL-ujDDg9hF9gqV0mQrD94AZeh_QItJ-Aft2Xd7NE/values/{{ encodeURIComponent($json.body.range) }}?valueInputOption=USER_ENTERED",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "id": "a9999999-9999-4999-8999-999999999999",
      "name": "Update Pipeline Row",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1540,
        -120
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "86m52fKwvUB07q9D",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $json.data;\nconst body = {\n  range: 'prospects!A:AE',\n  majorDimension: 'ROWS',\n  values: [[\n    d.leadId || ('L-' + Date.now()),\n    new Date().toISOString(),\n    d.empresa || '',\n    d.nicho || '',\n    d.ciudad || '',\n    d.pais || '',\n    d.direccion || '',\n    d.telefono || '',\n    d.email || '',\n    d.web || '',\n    d.emailContacto || d.email || '',\n    d.whatsapp || '',\n    d.instagram || '',\n    d.facebook || '',\n    d.linkedin || '',\n    d.googleMaps || '',\n    d.ratingGoogle != null ? d.ratingGoogle : '',\n    d.numResenas != null ? d.numResenas : '',\n    d.pageSpeedMovil != null ? d.pageSpeedMovil : '',\n    d.pageSpeedDesktop != null ? d.pageSpeedDesktop : '',\n    d.tieneSSL != null ? d.tieneSSL : '',\n    d.diagnosticoIA || '',\n    d.score != null ? d.score : '',\n    d.fuente || 'Manual CRM',\n    d.notas || '',\n    d.screenshotUrl || '',\n    '', '', '', '', ''\n  ]]\n};\nreturn [{ json: { leadId: d.leadId, body } }];"
      },
      "id": "b1111111-1111-4111-8111-111111111112",
      "name": "Build Lead Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1N8bL-ujDDg9hF9gqV0mQrD94AZeh_QItJ-Aft2Xd7NE/values/prospects!A:AE:append?valueInputOption=USER_ENTERED",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "id": "b2222222-2222-4222-8222-222222222223",
      "name": "Append Lead Row",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        880,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "86m52fKwvUB07q9D",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1N8bL-ujDDg9hF9gqV0mQrD94AZeh_QItJ-Aft2Xd7NE/values/prospects!A:A",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "id": "b3333333-3333-4333-8333-333333333334",
      "name": "Find Lead Row",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        660,
        220
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "86m52fKwvUB07q9D",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ids = ($json.values || []).map(r => r[0]);\nconst d = $('Validate').item.json.data;\nconst idx = ids.indexOf(d.leadId);\nif (idx === -1) throw new Error('Lead not found: ' + d.leadId);\nconst rowNum = idx + 1;\nconst fieldMap = {\n  empresa: 'C', nicho: 'D', ciudad: 'E', pais: 'F', direccion: 'G', telefono: 'H',\n  email: 'I', web: 'J', emailContacto: 'K', whatsapp: 'L', instagram: 'M',\n  facebook: 'N', linkedin: 'O', googleMaps: 'P', ratingGoogle: 'Q', numResenas: 'R',\n  pageSpeedMovil: 'S', pageSpeedDesktop: 'T', tieneSSL: 'U', diagnosticoIA: 'V',\n  score: 'W', fuente: 'X', notas: 'Y', screenshotUrl: 'Z', cargo: 'AI', etiquetas: 'AJ'\n};\nconst updates = [];\nfor (const [key, col] of Object.entries(fieldMap)) {\n  if (d[key] !== undefined) {\n    updates.push({ range: `prospects!${col}${rowNum}`, values: [[d[key]]] });\n  }\n}\nreturn [{ json: { body: { valueInputOption: 'USER_ENTERED', data: updates } } }];"
      },
      "id": "b4444444-4444-4444-8444-444444444445",
      "name": "Build Lead Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1N8bL-ujDDg9hF9gqV0mQrD94AZeh_QItJ-Aft2Xd7NE/values:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "id": "b5555555-5555-4555-8555-555555555556",
      "name": "Update Lead Fields",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1100,
        220
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "86m52fKwvUB07q9D",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1N8bL-ujDDg9hF9gqV0mQrD94AZeh_QItJ-Aft2Xd7NE/values/outreach!A:A",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "id": "b6666666-6666-4666-8666-666666666667",
      "name": "Find Outreach Row",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        660,
        440
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "86m52fKwvUB07q9D",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ids = ($json.values || []).map(r => r[0]);\nconst d = $('Validate').item.json.data;\nconst idx = ids.indexOf(d.leadId);\nif (idx === -1) throw new Error('Lead not found in outreach: ' + d.leadId);\nconst rowNum = idx + 1;\nconst fieldMap = {\n  asuntoEmail: 'R', cuerpoEmail: 'S', estado: 'T', fechaEnvio: 'U'\n};\nconst updates = [];\nfor (const [key, col] of Object.entries(fieldMap)) {\n  if (d[key] !== undefined) {\n    updates.push({ range: `outreach!${col}${rowNum}`, values: [[d[key]]] });\n  }\n}\nreturn [{ json: { body: { valueInputOption: 'USER_ENTERED', data: updates } } }];"
      },
      "id": "b7777777-7777-4777-8777-777777777778",
      "name": "Build Outreach Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1N8bL-ujDDg9hF9gqV0mQrD94AZeh_QItJ-Aft2Xd7NE/values:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "id": "b8888888-8888-4888-8888-888888888889",
      "name": "Update Outreach Fields",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1100,
        440
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "86m52fKwvUB07q9D",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ok: true } }];"
      },
      "id": "c1111111-1111-4111-8111-111111111113",
      "name": "Merge OK",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "c2222222-2222-4222-8222-222222222224",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1980,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $json.data;\nconst id = d.id || ('C-' + Date.now());\nconst now = new Date().toISOString();\nconst body = {\n  range: 'campaigns!A:O',\n  majorDimension: 'ROWS',\n  values: [[\n    id,\n    d.nombre || '',\n    d.nicho || '',\n    d.idioma || 'es',\n    d.estado || 'borrador',\n    d.tipoMensaje || 'email',\n    d.template || '',\n    Array.isArray(d.leadIds) ? d.leadIds.join(',') : (d.leadIds || ''),\n    now,\n    d.fechaInicio || '',\n    d.fechaFin || '',\n    d.totalLeads != null ? d.totalLeads : (Array.isArray(d.leadIds) ? d.leadIds.length : 0),\n    d.enviados != null ? d.enviados : 0,\n    d.respondidos != null ? d.respondidos : 0,\n    d.notas || ''\n  ]]\n};\nreturn [{ json: { id, body } }];"
      },
      "id": "camp-build-create",
      "name": "Build Campaign Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        660
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1N8bL-ujDDg9hF9gqV0mQrD94AZeh_QItJ-Aft2Xd7NE/values/campaigns!A:O:append?valueInputOption=USER_ENTERED",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "id": "camp-append",
      "name": "Append Campaign Row",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        880,
        660
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "86m52fKwvUB07q9D",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, id: $json.id }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "camp-respond-create",
      "name": "Respond Campaign Create",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1100,
        660
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1N8bL-ujDDg9hF9gqV0mQrD94AZeh_QItJ-Aft2Xd7NE/values/campaigns!A:A",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "id": "camp-find-update",
      "name": "Find Campaign Row",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        660,
        860
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "86m52fKwvUB07q9D",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ids = ($json.values || []).map(r => r[0]);\nconst d = $('Validate').item.json.data;\nconst idx = ids.indexOf(d.id);\nif (idx === -1) throw new Error('Campaign not found: ' + d.id);\nconst rowNum = idx + 1;\nconst fieldMap = {\n  nombre: 'B', nicho: 'C', idioma: 'D', estado: 'E', tipoMensaje: 'F', template: 'G',\n  fechaInicio: 'J', fechaFin: 'K', totalLeads: 'L', enviados: 'M', respondidos: 'N', notas: 'O'\n};\nconst updates = [];\nfor (const [key, col] of Object.entries(fieldMap)) {\n  if (d[key] !== undefined) updates.push({ range: `campaigns!${col}${rowNum}`, values: [[d[key]]] });\n}\nif (d.leadIds !== undefined) {\n  const val = Array.isArray(d.leadIds) ? d.leadIds.join(',') : d.leadIds;\n  updates.push({ range: `campaigns!H${rowNum}`, values: [[val]] });\n}\nreturn [{ json: { body: { valueInputOption: 'USER_ENTERED', data: updates } } }];"
      },
      "id": "camp-build-update",
      "name": "Build Campaign Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        860
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1N8bL-ujDDg9hF9gqV0mQrD94AZeh_QItJ-Aft2Xd7NE/values:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "id": "camp-update-fields",
      "name": "Update Campaign Fields",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1100,
        860
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "86m52fKwvUB07q9D",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "camp-respond-update",
      "name": "Respond Campaign Update",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1320,
        860
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1N8bL-ujDDg9hF9gqV0mQrD94AZeh_QItJ-Aft2Xd7NE/values/campaigns!A:A",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "id": "camp-find-delete",
      "name": "Find Campaign Row Delete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        660,
        1060
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "86m52fKwvUB07q9D",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ids = ($json.values || []).map(r => r[0]);\nconst d = $('Validate').item.json.data;\nconst idx = ids.indexOf(d.id);\nif (idx === -1) throw new Error('Campaign not found: ' + d.id);\nconst rowNum = idx + 1;\nconst body = { valueInputOption: 'USER_ENTERED', data: [{ range: `campaigns!E${rowNum}`, values: [['eliminada']] }] };\nreturn [{ json: { body } }];"
      },
      "id": "camp-build-delete",
      "name": "Build Campaign Delete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        1060
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1N8bL-ujDDg9hF9gqV0mQrD94AZeh_QItJ-Aft2Xd7NE/values:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "id": "camp-delete-fields",
      "name": "Delete Campaign Fields",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1100,
        1060
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "86m52fKwvUB07q9D",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "camp-respond-delete",
      "name": "Respond Campaign Delete",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1320,
        1060
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1N8bL-ujDDg9hF9gqV0mQrD94AZeh_QItJ-Aft2Xd7NE/values/config!A:B",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "id": "cfg-find",
      "name": "Find Config Row",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        660,
        1260
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "86m52fKwvUB07q9D",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const values = $json.values || [];\nconst d = $('Validate').item.json.data;\nconst claves = values.map(r => r[0]);\nconst idx = claves.indexOf(d.clave);\nif (idx === -1) {\n  return [{ json: { mode: 'append', body: { range: 'config!A:B', majorDimension: 'ROWS', values: [[d.clave, d.valor]] } } }];\n}\nconst rowNum = idx + 1;\nreturn [{ json: { mode: 'update', body: { valueInputOption: 'USER_ENTERED', data: [{ range: `config!B${rowNum}`, values: [[d.valor]] }] } } }];"
      },
      "id": "cfg-build",
      "name": "Build Config Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        1260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.mode }}",
              "rightValue": "append",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cfg-if",
      "name": "Config Append?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1100,
        1260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1N8bL-ujDDg9hF9gqV0mQrD94AZeh_QItJ-Aft2Xd7NE/values/config!A:B:append?valueInputOption=USER_ENTERED",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "id": "cfg-append",
      "name": "Append Config Row",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1320,
        1180
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "86m52fKwvUB07q9D",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1N8bL-ujDDg9hF9gqV0mQrD94AZeh_QItJ-Aft2Xd7NE/values:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "id": "cfg-update",
      "name": "Update Config Row",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1320,
        1340
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "86m52fKwvUB07q9D",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "cfg-respond",
      "name": "Respond Config Update",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1540,
        1260
      ]
    },
    {
      "id": "find-lead-trash",
      "name": "Find Lead Row Trash",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        1480
      ],
      "parameters": {
        "method": "GET",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1N8bL-ujDDg9hF9gqV0mQrD94AZeh_QItJ-Aft2Xd7NE/values/prospects!A:A",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "86m52fKwvUB07q9D",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "build-lead-trash",
      "name": "Build Lead Trash",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        1480
      ],
      "parameters": {
        "jsCode": "const action = $('Validate').item.json.action;\nconst d = $('Validate').item.json.data;\nconst ids = ($json.values || []).map(r => r[0]);\nconst idx = ids.indexOf(d.leadId);\nif (idx === -1) throw new Error('Lead no encontrado: ' + d.leadId);\nconst rowNum = idx + 1;\nconst isRestore = action === 'lead_restore';\nconst now = new Date().toISOString();\nconst body = { valueInputOption: 'USER_ENTERED', data: [\n  { range: `prospects!AF${rowNum}`, values: [[isRestore ? '' : now]] },\n  { range: `prospects!AG${rowNum}`, values: [[isRestore ? '' : (d.eliminadoPor || 'CRM')]] },\n] };\nreturn [{ json: { body } }];"
      }
    },
    {
      "id": "lead-trash-fields",
      "name": "Lead Trash Fields",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        1480
      ],
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1N8bL-ujDDg9hF9gqV0mQrD94AZeh_QItJ-Aft2Xd7NE/values:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "86m52fKwvUB07q9D",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "respond-lead-trash",
      "name": "Respond Lead Trash",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1320,
        1480
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      }
    },
    {
      "id": "find-pipeline-trash",
      "name": "Find Pipeline Row Trash",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        1680
      ],
      "parameters": {
        "method": "GET",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1N8bL-ujDDg9hF9gqV0mQrD94AZeh_QItJ-Aft2Xd7NE/values/pipeline!A:A",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "86m52fKwvUB07q9D",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "build-pipeline-trash",
      "name": "Build Pipeline Trash",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        1680
      ],
      "parameters": {
        "jsCode": "const action = $('Validate').item.json.action;\nconst d = $('Validate').item.json.data;\nconst ids = ($json.values || []).map(r => r[0]);\nconst idx = ids.indexOf(d.leadId);\nif (idx === -1) throw new Error('Pipeline no encontrado: ' + d.leadId);\nconst rowNum = idx + 1;\nconst isRestore = action === 'pipeline_restore';\nconst now = new Date().toISOString();\nconst body = { valueInputOption: 'USER_ENTERED', data: [\n  { range: `pipeline!L${rowNum}`, values: [[isRestore ? '' : now]] },\n  { range: `pipeline!M${rowNum}`, values: [[isRestore ? '' : (d.eliminadoPor || 'CRM')]] },\n] };\nreturn [{ json: { body } }];"
      }
    },
    {
      "id": "pipeline-trash-fields",
      "name": "Pipeline Trash Fields",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        1680
      ],
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1N8bL-ujDDg9hF9gqV0mQrD94AZeh_QItJ-Aft2Xd7NE/values:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "86m52fKwvUB07q9D",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "respond-pipeline-trash",
      "name": "Respond Pipeline Trash",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1320,
        1680
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      }
    },
    {
      "id": "find-campaign-restore",
      "name": "Find Campaign Row Restore",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        1880
      ],
      "parameters": {
        "method": "GET",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1N8bL-ujDDg9hF9gqV0mQrD94AZeh_QItJ-Aft2Xd7NE/values/campaigns!A:A",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "86m52fKwvUB07q9D",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "build-campaign-restore",
      "name": "Build Campaign Restore",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        1880
      ],
      "parameters": {
        "jsCode": "const ids = ($json.values || []).map(r => r[0]);\nconst d = $('Validate').item.json.data;\nconst id = d.id || d.leadId;\nconst idx = ids.indexOf(id);\nif (idx === -1) throw new Error('Campana no encontrada: ' + id);\nconst rowNum = idx + 1;\nconst body = { valueInputOption: 'USER_ENTERED', data: [{ range: `campaigns!E${rowNum}`, values: [['activa']] }] };\nreturn [{ json: { body } }];"
      }
    },
    {
      "id": "bf4fc90620f0050a",
      "name": "Find Lead Row Purge",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        1480
      ],
      "parameters": {
        "method": "GET",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1N8bL-ujDDg9hF9gqV0mQrD94AZeh_QItJ-Aft2Xd7NE/values/prospects!A:A",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "86m52fKwvUB07q9D",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "1cc772f52d26bb4e",
      "name": "Build Lead Purge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        1480
      ],
      "parameters": {
        "jsCode": "const d = $('Validate').item.json.data;\nconst ids = ($json.values || []).map(r => r[0]);\nconst idx = ids.indexOf(d.leadId);\nif (idx === -1) throw new Error('Lead no encontrado: ' + d.leadId);\nconst rowNum = idx + 1;\nconst now = new Date().toISOString();\nconst body = { valueInputOption: 'USER_ENTERED', data: [\n  { range: `prospects!AH${rowNum}`, values: [[now]] },\n] };\nreturn [{ json: { body } }];"
      }
    },
    {
      "id": "b164d42b4957bbf4",
      "name": "Lead Purge Fields",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1480,
        1480
      ],
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1N8bL-ujDDg9hF9gqV0mQrD94AZeh_QItJ-Aft2Xd7NE/values:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "86m52fKwvUB07q9D",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "547b6660179e171b",
      "name": "Respond Lead Purge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1680,
        1480
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      }
    },
    {
      "id": "50d8f85d1ebcd84c",
      "name": "Find Pipeline Row Purge",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        1680
      ],
      "parameters": {
        "method": "GET",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1N8bL-ujDDg9hF9gqV0mQrD94AZeh_QItJ-Aft2Xd7NE/values/pipeline!A:A",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "86m52fKwvUB07q9D",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "8fe7235aa34acbb9",
      "name": "Build Pipeline Purge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        1680
      ],
      "parameters": {
        "jsCode": "const d = $('Validate').item.json.data;\nconst ids = ($json.values || []).map(r => r[0]);\nconst idx = ids.indexOf(d.leadId);\nif (idx === -1) throw new Error('Pipeline no encontrado: ' + d.leadId);\nconst rowNum = idx + 1;\nconst now = new Date().toISOString();\nconst body = { valueInputOption: 'USER_ENTERED', data: [\n  { range: `pipeline!N${rowNum}`, values: [[now]] },\n] };\nreturn [{ json: { body } }];"
      }
    },
    {
      "id": "70d2a1900783c565",
      "name": "Pipeline Purge Fields",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1480,
        1680
      ],
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1N8bL-ujDDg9hF9gqV0mQrD94AZeh_QItJ-Aft2Xd7NE/values:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "86m52fKwvUB07q9D",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "728630a01fc2f50c",
      "name": "Respond Pipeline Purge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1680,
        1680
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      }
    },
    {
      "id": "ex0-gvgan217",
      "name": "Find Pipeline Row Extra",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        1900
      ],
      "parameters": {
        "method": "GET",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1N8bL-ujDDg9hF9gqV0mQrD94AZeh_QItJ-Aft2Xd7NE/values/pipeline!A:A",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "86m52fKwvUB07q9D",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "ex1-jmy363gw",
      "name": "Build Pipeline Extra",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        1900
      ],
      "parameters": {
        "jsCode": "const ids = ($json.values || []).map(r => r[0]);\nconst d = $('Validate').item.json.data;\nconst idx = ids.indexOf(d.leadId);\nif (idx === -1) throw new Error('Pipeline no encontrado: ' + d.leadId);\nconst rowNum = idx + 1;\nconst fieldMap = { probabilidad: 'O', fechaCierreEstimada: 'P' };\nconst updates = [];\nfor (const [k, col] of Object.entries(fieldMap)) {\n  if (d[k] !== undefined) updates.push({ range: `pipeline!${col}${rowNum}`, values: [[d[k]]] });\n}\nreturn [{ json: { body: { valueInputOption: 'USER_ENTERED', data: updates } } }];"
      }
    },
    {
      "id": "ex2-z3ph79qv",
      "name": "Pipeline Extra Fields",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1480,
        1900
      ],
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1N8bL-ujDDg9hF9gqV0mQrD94AZeh_QItJ-Aft2Xd7NE/values:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "86m52fKwvUB07q9D",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "ex3-93159rlg",
      "name": "Respond Pipeline Extra",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1680,
        1900
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      }
    },
    {
      "id": "an0-findrow",
      "name": "Find Prospects Row Analizar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        2100
      ],
      "parameters": {
        "method": "GET",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1N8bL-ujDDg9hF9gqV0mQrD94AZeh_QItJ-Aft2Xd7NE/values/prospects!A:A",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "86m52fKwvUB07q9D",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "an1-buildprompt",
      "name": "Build Analizar Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        2100
      ],
      "parameters": {
        "jsCode": "const values = $json.values || [];\nconst ids = values.map(r => r[0]);\nconst d = $('Validate').item.json.data;\nconst idx = ids.indexOf(d.leadId);\nif (idx === -1) throw new Error('Lead no encontrado: ' + d.leadId);\nconst row = idx + 1;\n\nconst lead = {\n  empresa: d.empresa || '',\n  nicho: d.nicho || '',\n  web: d.web || '',\n  score: d.score ?? '',\n  pageSpeedMovil: d.pageSpeedMovil ?? '',\n  pageSpeedDesktop: d.pageSpeedDesktop ?? '',\n  tieneSSL: d.tieneSSL ?? '',\n  ratingGoogle: d.ratingGoogle ?? '',\n  numResenas: d.numResenas ?? '',\n  diagnosticoIA: d.diagnosticoIA || '',\n  notas: d.notas || '',\n};\n\nconst prompt = `Eres un consultor senior de ventas B2B para JD Developer, una agencia que vende diseno/desarrollo de sitios web y automatizacion a negocios locales. Analiza este lead y da una evaluacion accionable para el vendedor.\n\nDatos del lead:\n- Empresa: ${lead.empresa}\n- Nicho: ${lead.nicho}\n- Sitio web: ${lead.web || 'no tiene'}\n- Score inicial (0-100): ${lead.score}\n- PageSpeed movil: ${lead.pageSpeedMovil}\n- PageSpeed desktop: ${lead.pageSpeedDesktop}\n- Tiene SSL: ${lead.tieneSSL}\n- Rating Google: ${lead.ratingGoogle} (${lead.numResenas} resenas)\n- Diagnostico previo: ${lead.diagnosticoIA || 'ninguno'}\n- Notas del vendedor: ${lead.notas || 'ninguna'}\n\nResponde UNICAMENTE con un objeto JSON valido, sin texto adicional ni markdown, con este formato exacto:\n{\"scoreIA\": <entero 0-100, que tan buen prospecto es para JD Developer>, \"observaciones\": \"<1-2 lineas sobre el estado actual del negocio/sitio>\", \"recomendaciones\": \"<1-2 lineas de proximo paso concreto de venta>\", \"oportunidades\": \"<1-2 lineas de que servicios venderle>\", \"errores\": \"<1-2 lineas de problemas detectados, o 'ninguno detectado'>\"}`;\n\nconst body = { model: 'claude-sonnet-4-6', max_tokens: 500, messages: [{ role: 'user', content: prompt }] };\nreturn { json: { row, leadId: d.leadId, anthropic_body: JSON.stringify(body) } };"
      }
    },
    {
      "id": "an2-callclaude",
      "name": "Call Claude Analizar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        2100
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.anthropic_body }}",
        "options": {
          "timeout": 120000
        }
      },
      "credentials": {
        "anthropicApi": {
          "id": "gwl5qxVgysdjlggv",
          "name": "Anthropic - JDDeveloper"
        }
      }
    },
    {
      "id": "an3-parse",
      "name": "Parse Analizar Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1480,
        2100
      ],
      "parameters": {
        "jsCode": "const text = ($json.content && $json.content[0] && $json.content[0].text) || '';\nlet parsed = null;\ntry { parsed = JSON.parse(text); } catch(e) {\n  const m = text.match(/\\{[\\s\\S]*\\}/);\n  try { parsed = m ? JSON.parse(m[0]) : null; } catch(e2) { parsed = null; }\n}\nif (!parsed) throw new Error('Respuesta IA invalida');\nconst prev = $('Build Analizar Prompt').item.json;\nconst scoreIA = typeof parsed.scoreIA === 'number' ? parsed.scoreIA : parseFloat(parsed.scoreIA);\nreturn { json: {\n  row: prev.row,\n  leadId: prev.leadId,\n  scoreIA: isNaN(scoreIA) ? null : scoreIA,\n  observaciones: parsed.observaciones || '',\n  recomendaciones: parsed.recomendaciones || '',\n  oportunidades: parsed.oportunidades || '',\n  errores: parsed.errores || '',\n} };"
      }
    },
    {
      "id": "an4-buildfields",
      "name": "Build Analizar Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        2100
      ],
      "parameters": {
        "jsCode": "const d = $json;\nconst fieldMap = { scoreIA: 'AK', observaciones: 'AL', recomendaciones: 'AM', oportunidades: 'AN', errores: 'AO' };\nconst updates = [];\nfor (const [k, col] of Object.entries(fieldMap)) {\n  if (d[k] !== undefined && d[k] !== null) updates.push({ range: `prospects!${col}${d.row}`, values: [[d[k]]] });\n}\nreturn [{ json: { result: d, body: { valueInputOption: 'USER_ENTERED', data: updates } } }];"
      }
    },
    {
      "id": "an5-write",
      "name": "Write Analizar Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1880,
        2100
      ],
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1N8bL-ujDDg9hF9gqV0mQrD94AZeh_QItJ-Aft2Xd7NE/values:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "86m52fKwvUB07q9D",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "an6-respond",
      "name": "Respond Analizar",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2080,
        2100
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, ...$('Build Analizar Fields').item.json.result }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate": {
      "main": [
        [
          {
            "node": "Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route": {
      "main": [
        [
          {
            "node": "Build Pipeline Row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Lead Row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find Lead Row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find Outreach Row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Campaign Row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find Campaign Row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find Campaign Row Delete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find Config Row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find Lead Row Trash",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find Lead Row Trash",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find Pipeline Row Trash",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find Pipeline Row Trash",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find Campaign Row Restore",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find Lead Row Purge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find Pipeline Row Purge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find Pipeline Row Extra",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find Prospects Row Analizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Pipeline Row": {
      "main": [
        [
          {
            "node": "Find Pipeline Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Pipeline Row": {
      "main": [
        [
          {
            "node": "Locate Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Locate Row": {
      "main": [
        [
          {
            "node": "Row Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Row Exists?": {
      "main": [
        [
          {
            "node": "Append Pipeline Row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Pipeline Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Pipeline Row": {
      "main": [
        [
          {
            "node": "Merge OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Pipeline Row": {
      "main": [
        [
          {
            "node": "Merge OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Lead Row": {
      "main": [
        [
          {
            "node": "Append Lead Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Lead Row": {
      "main": [
        [
          {
            "node": "Merge OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Lead Row": {
      "main": [
        [
          {
            "node": "Build Lead Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Lead Update": {
      "main": [
        [
          {
            "node": "Update Lead Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead Fields": {
      "main": [
        [
          {
            "node": "Merge OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Outreach Row": {
      "main": [
        [
          {
            "node": "Build Outreach Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Outreach Update": {
      "main": [
        [
          {
            "node": "Update Outreach Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Outreach Fields": {
      "main": [
        [
          {
            "node": "Merge OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge OK": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Campaign Row": {
      "main": [
        [
          {
            "node": "Append Campaign Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Campaign Row": {
      "main": [
        [
          {
            "node": "Respond Campaign Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Campaign Row": {
      "main": [
        [
          {
            "node": "Build Campaign Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Campaign Update": {
      "main": [
        [
          {
            "node": "Update Campaign Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Campaign Fields": {
      "main": [
        [
          {
            "node": "Respond Campaign Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Campaign Row Delete": {
      "main": [
        [
          {
            "node": "Build Campaign Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Campaign Delete": {
      "main": [
        [
          {
            "node": "Delete Campaign Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Campaign Fields": {
      "main": [
        [
          {
            "node": "Respond Campaign Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Config Row": {
      "main": [
        [
          {
            "node": "Build Config Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Config Update": {
      "main": [
        [
          {
            "node": "Config Append?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config Append?": {
      "main": [
        [
          {
            "node": "Append Config Row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Config Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Config Row": {
      "main": [
        [
          {
            "node": "Respond Config Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Config Row": {
      "main": [
        [
          {
            "node": "Respond Config Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Lead Row Trash": {
      "main": [
        [
          {
            "node": "Build Lead Trash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Lead Trash": {
      "main": [
        [
          {
            "node": "Lead Trash Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Trash Fields": {
      "main": [
        [
          {
            "node": "Respond Lead Trash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Pipeline Row Trash": {
      "main": [
        [
          {
            "node": "Build Pipeline Trash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Pipeline Trash": {
      "main": [
        [
          {
            "node": "Pipeline Trash Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pipeline Trash Fields": {
      "main": [
        [
          {
            "node": "Respond Pipeline Trash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Campaign Row Restore": {
      "main": [
        [
          {
            "node": "Build Campaign Restore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Campaign Restore": {
      "main": [
        [
          {
            "node": "Delete Campaign Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Lead Row Purge": {
      "main": [
        [
          {
            "node": "Build Lead Purge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Lead Purge": {
      "main": [
        [
          {
            "node": "Lead Purge Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Purge Fields": {
      "main": [
        [
          {
            "node": "Respond Lead Purge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Pipeline Row Purge": {
      "main": [
        [
          {
            "node": "Build Pipeline Purge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Pipeline Purge": {
      "main": [
        [
          {
            "node": "Pipeline Purge Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pipeline Purge Fields": {
      "main": [
        [
          {
            "node": "Respond Pipeline Purge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Pipeline Row Extra": {
      "main": [
        [
          {
            "node": "Build Pipeline Extra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Pipeline Extra": {
      "main": [
        [
          {
            "node": "Pipeline Extra Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pipeline Extra Fields": {
      "main": [
        [
          {
            "node": "Respond Pipeline Extra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Prospects Row Analizar": {
      "main": [
        [
          {
            "node": "Build Analizar Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Analizar Prompt": {
      "main": [
        [
          {
            "node": "Call Claude Analizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude Analizar": {
      "main": [
        [
          {
            "node": "Parse Analizar Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Analizar Response": {
      "main": [
        [
          {
            "node": "Build Analizar Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Analizar Fields": {
      "main": [
        [
          {
            "node": "Write Analizar Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Analizar Result": {
      "main": [
        [
          {
            "node": "Respond Analizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}